<a href="https://colab.research.google.com/github/MATHKIMS/git-/blob/master/chapter1_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **숫자형:  정수, 실수, 8진수,16진수**

In [3]:
#정수
a=123  #양의정수
b=-178 #음의 정수
c=0 #0

print(a)
print(b)
print(c)

123
-178
0

In [4]:
# 실수와 8진수 16진수
a1=1.64
a2=4.24E10  # E10= 10^10을 의미함

b1=0o177 #8진수 : 처음에 0o,0O로 시작됨 실제로,127의 8진수임

c1=0x8ff #16진수 : 처음 0x로 시작됨 실제로, 2303의 16진수임

print(a1)
print(a2)
print(b1)
print(c1)

1.64
42400000000.0
127
2303

In [8]:
# 변수의 연산

a=4
b=16   #변수는 한줄에 입력할수없음 
 
print(a+b)
print(a-b)
print(a*b)
print(a/b)

20
-12
64
0.25

In [13]:
# 제곱, 몫, 나머지 연산자
print(7%3)
print(7/4)
print(7//4)

print(14//3,14%3)

1
1.75
1
4 2

# **문자열: 문자,단어로 이루어진것 문자열은 "a"로 작성한다.**

In [44]:
#문자열 형식
"Life"
'Life'
"""Life"""
'''life'''

#'python's favorite food is perl'  #문제가 생기므로  일반적으로 ""을 사용함
food="python's favorite food is perl"

print(food)

python's favorite food is perl

# ***갑자기 생각한것 예외처리 ***

In [41]:
#오류의 종류는 2가지 : 구문오류와 예외오류 
#1 구문 오류 : 프로그램실행자체가 되지않는 오류
try:
  print('python's favorite food perl')
except SyntaxError:
  print("오류야")

SyntaxError: ignored

In [89]:
#예외 오류: 구문은 틀리지않아 프로그램이 실행은 되나 실질적으로 의미상 잘못되는 오류들
try:
  4/0
except ZeroDivisionError:
  print("0으로 나눌수없음")

0으로 나눌수없음

# 문자열의 큰따옴표 작은 따옴표 사용

In [45]:
"Dongwoo's cool"
'"Jinsoo is luxary"'

'"Jinsoo is luxary"'

In [49]:
a="Dongwoo's cool\nJinsoo is luxary"
print(a)

Dongwoo's cool
Jinsoo is luxary

# #이스케이프 코드

## **[문자열 연산](https://)**

In [50]:
a="Dongwoo's"
b="cool"
a+b

"Dongwoo'scool"

In [51]:
a*2

"Dongwoo'sDongwoo's"

In [52]:
len(a) #문자열 길이

9

**인덱싱과 슬라이싱**

In [53]:
a="Life is too short, You need Python"

In [56]:
a[3] #3번째 요소 (문자)가 무엇인지 설명해줌 문자열의 첫글자의 인덱스 번호는 0부터시작

'e'

In [60]:
print(a[-2]) #뒤에서 2번째

print(a[0],a[-0]) #실제로 0과 -0은 같은값이여서 -적용이 안됨

o
L L

In [61]:
a[0:5]

'Life '

In [62]:
a[19:-7]

'You need'

In [72]:
#문제: ["Pithon"이라는 문자열을 "Python"으로 바꾸려면?]

a="Pithon"

b=a[0:1]+'y'+a[2:]

print(b)

Python

# **문자열 포매팅**

In [78]:
#1 숫자 바로 넣기

print("I eat %d apples." % 3)

#2 문자열 바로넣기
print("I eat %s apples." % "three")

#3 변수로 넣는방법
number=3
print("I eat %d apples." % number)

#4 2개이상 포매팅 이런식으로넣기- {"%s,%d"%(s1,n1)}
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

I eat 3 apples.
I eat three apples.
I eat 3 apples.

'I ate 10 apples. so I was sick for three days.'

In [88]:
#부동 소수점

"rate is %d" % 3.234

"rate is %f" % 3.234

"rate is %s" % 3.234

'rate is 3.234'